<footer class="site-footer">
  <p>&copy; My Website. All rights reserved.</p>
  <a href="https://www.youtube.com/@MolonLabe10"<i class="fa-brands fa-youtube"></i></a>
  <a href="https://x.com/ianedoig"<i class="fa-brands fa-x-twitter"></i></a>
</footer>