<aside class="side">
  <a href= "{{ '/' | url }}"><img class="logo" src="{{ '/photos/coolLogo.png' | url }}" alt="cool Logo"></a>
  <ul>
   <li><a class="liA{% if section == 'about' %} active{% endif %}" href="{{ '/about/' | url }}">about</a></li>
  <li><a class="liA{% if section == 'projects' %} active{% endif %}" href="{{ '/projects/' | url }}">projects</a></li>
  <li><a class="liA{% if section == 'logs' %} active{% endif %}" href="{{ '/logs/' | url }}">logs</a></li>


  </ul>
</aside>
